
<div class="page">
<header class="app-header">
    <app-header/>
</header>
<aside class="app-sidebar sticky" id="sidebar">
    <app-sidenav/>
</aside>

<div class="main-content app-content">
    <div class="page-cover mt-2">
    <router-outlet></router-outlet>
</div>
</div>
<footer class="footer mt-auto py-2 bg-white text-center">
    <app-footer/>
</footer>

<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>

</div>
